.inputForm{
    display: flex;
    border: solid;
    flex-direction: column;
    row-gap: 10px;
    color:#ffe1ba;
    border-color: #fff773;
    border-radius: 30px;
    padding: 40px;
    font-weight: 800;
    margin: 0 auto;
    padding-bottom: 20px;
    flex-basis: 300px;
    height: min-content;
}

.inputForm > div {
   text-align: center;
   margin-bottom: 0;

}

input{
    border: none;
    border-radius: 30px;
    background-color: #0b89d5;
    color: #ffe1ba;
    height: 30px;
    font-weight: 800;
    padding-left: 20px;
}
::placeholder{
    color: #ffe1ba;
}
